* {
  box-sizing: inherit; }
  *:before {
    box-sizing: inherit; }
  *:after {
    box-sizing: inherit; }

body { 
 background-image: url("../images/wallpaper.jpg")
}

html, body {
  overflow: hidden;
}