.popupContainer{
	margin: 0 auto;
    width: 525px;
    height: 250px;
    background-color: #686868;
    margin-top: 350px;
    padding: 40px;
}
.titleLabel{
	font-size: 20px;

}
.titleInput{
	width: 300px;
	margin-top: 40px;
	height: 45px;
	padding-left:15px;
	font-size: 25px;
}
.submit{
	height: 30px;
	width: 304px;
	position: relative;
	margin-top: 20px;
	border-radius: 3px;
}
.login{
	text-align: center;
	margin-top: 25px;
}
