.popupContainer{
	margin: 0 auto;
	width: 325px;
	height: 150px;
	background-color: #686868;
	margin-top: 200px;
	padding: 40px;
}
.titleLabel{
	font-size: 20px;
}
.titleInput{
	width: 300px;
	margin-top: 15px;
	height: 25px;
	padding-left:15px;
}
.submit{
	height: 30px;
	width: 304px;
	position: relative;
	top: 35px;
}